/* <link rel='icon' href='images/icons/favicon.ico' type='image/x-icon'/>

	<!-- Link to the Font-Awesome Font -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>

	<!-- Link to Montserrat font from Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet"/>


	<!-- Styles -->
	<!-- Bootstrap Styles -->
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/> -->
	<!-- Custom Styles -->
	<!-- <link rel="stylesheet" type="text/css" href="css/styles.css"/> --> */
@import url("https://fonts.googleapis.com/css?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --font-base: "lexend", sans-serif;
  --font-second-base: "Inter", sans-serif;
  --bg-color: #111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
}
